{{#if args}}

<section class="table-container">

    <table class="table">

        <tr>
            
            <td> Argumentos de Entrada : {{args}} </td>
            <td> Sistema Operativo : {{os}} </td>
            <td> Versi贸n de Node JS : {{nodeVersion}} </td>

        </tr>

    </table>

</section>

<section class="table-container">

    <table class="table">

        <tr>
            
            <td> Memoria total reservada : {{rss}} </td>
            <td> Path de Ejecuci贸n : {{execPath}} </td>
            <td> ID del Proceso : {{pid}} </td>

        </tr>

    </table>

</section>

<section class="table-container">

    <table class="table">

        <tr>
            
            <td style="display: flex; justify-content: center; align-items: center;"> 

                <p style="text-align: center; width: 80%;"> Carpeta del Proyecto : {{path}} </p>

            </td>

        </tr>

    </table>

</section>

{{else}}

<h1> No se encontr贸 informaci贸n. </h1>

{{/if}}