{{#if args}}

<div class="info-box">

    <div class="box">

        <p> Argumentos de Entrada : {{args}} </p>
        <p> Sistema Operativo : {{os}} </p>
        <p> Versi贸n de Node JS : {{nodeVersion}} </p>
        <p> Memoria total reservada : {{rss}} </p>
        <p> Path de Ejecuci贸n : {{execPath}} </p>
        <p> ID del Proceso : {{pid}} </p>
        <p> Carpeta del Proyecto : {{path}} </p>

    </div>

</div>

{{else}}

<h1> No se encontr贸 informaci贸n. </h1>

{{/if}}